{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Change Password</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_old_password" class="form-label">
          <i class="fas fa-lock"></i> Old Password
        </label>
        {{ form.old_password }}
      </div>
      <div class="mb-3">
        <label for="id_new_password1" class="form-label">
          <i class="fas fa-lock"></i> New Password
        </label>
        {{ form.new_password1 }}
      </div>
      <div class="mb-3">
        <label for="id_new_password2" class="form-label">
          <i class="fas fa-lock"></i> Confirm New Password
        </label>
        {{ form.new_password2 }}
      </div>
      <button type="submit" class="btn btn-success">Change Password</button>
    </form>
  </div>
{% endblock %}
